WPF/CAM.Configuration/Hook/HookConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:CAM.Configuration" elementFormDefault="qualified" targetNamespace="urn:CAM.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="hook" type="tns:CAM.Configuration.HookCT" />
	<xs:element name="command" type="tns:CAM.Configuration.CommandCT" />
	<xs:complexType name="CAM.Configuration.HookCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="commands" type="tns:CAM.Configuration.CommandsCT">
				<xs:annotation>
					<xs:documentation>The Commands.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CAM.Configuration.ExecutableCT">
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="exeLocation" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ExeLocation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CAM.Configuration.ArgumentsCT">
		<xs:attribute name="commandLine" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CommandLine.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CAM.Configuration.CommandsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="command" type="tns:CAM.Configuration.CommandCT">
				<xs:annotation>
					<xs:documentation>The Command Configuration Section.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CAM.Configuration.CommandCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="executable" type="tns:CAM.Configuration.ExecutableCT">
				<xs:annotation>
					<xs:documentation>The Executable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="arguments" type="tns:CAM.Configuration.ArgumentsCT">
				<xs:annotation>
					<xs:documentation>The Arguments.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="hookId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The HookId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mode" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Mode.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
